<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/demo.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'demo.css' %}">
</head>
<body>
<div>
    <div class="landing-page-container">
      <div class="landing-page-landing-page">

        <div class="landing-page-navbar">
          <img
            src="{% static 'assets/Vector5125-25i9.svg' %}"
            alt="Vector5125"
            class="landing-page-vector"
          />
          <div class="landing-page-container1">

            <div class="landing-page-logo1">
              <div class="landing-page-plant1">
                <div class="landing-page-group">
                  <div>
                    <img
                      src="{% static 'assets/vectori281-tdwo.svg' %}"
                      alt="VectorI281"
                      class="landing-page-vector1"
                    />
                  </div>
                </div>
              </div>
              <span class="landing-page-text14">
                <span>AgriConnect HUB</span>
              </span>
            </div>
          </div>
          <div class="landing-page-container2">
            <div class="landing-page-cartsand-button">
<!--              <div class="landing-page-carts">-->
<!--                <img-->
<!--                  src="{% static 'assets/iconsaxlinearsearchnormal17139-wxkj.svg' %}"-->
<!--                  alt="IconsaxLinearsearchnormal17139"-->
<!--                  class="landing-page-iconsax-linearsearchnormal1"-->
<!--                />-->
<!--                <img-->
<!--                  src="{% static 'assets/iconsaxlinearshoppingcart7141-fwva.svg' %}"-->
<!--                  alt="IconsaxLinearshoppingcart7141"-->
<!--                  class="landing-page-iconsax-linearshoppingcart"-->
<!--                />-->
<!--              </div>-->
              <button class="landing-page-fill-button">
<!--                <img-->
<!--                  src="{% static 'assets/iconsaxlinearcall7146-sy9k.svg' %}"-->
<!--                  alt="IconsaxLinearcall7146"-->
<!--                  class="landing-page-iconsax-linearcall"-->
<!--                />-->
                <div class="landing-page-frame2">
                    <a href="https://github.com/manishraj27">
                    <span class="landing-page-text04"><span>PROJECTS</span></span>
                    </a>
                </div>

              </button>
            </div>
          </div>
        </div>
        <div class="landing-page-sectionone">
          <img src="{% static 'assets/main-slider-1-1 1.png' %}" alt="mainslider1117126" class="landing-page-mainslider111" />
          <div class="landing-page-main-contents">
            <span class="landing-page-text16">
              <span>
                WELCOME TO Agricultural Products Rural Entrepreneurship Management
                System.
              </span>
            </span>
            <span class="landing-page-text18"><span>Agriconnect hub</span></span>
            <span class="landing-page-text20">
              <span>
                Empowering Rural Dreams, Nurturing Agricultural Growth –
                AgriConnect Hub cultivates prosperity from the roots up.
              </span>
            </span>
          </div>
          <div class="landing-page-group1">
            <img src="{% static 'assets/vector37196-tb3.svg' %}" alt="Vector37196" />
          </div>


          <button style="gap: 12px; top: 509px; left: 142px; width: 144px; height: 56px; display: flex; padding: 12px 16px; position: absolute; align-items: center; flex-shrink: 0; border-radius: 5px; justify-content: center; background-color: #f7c35f; text-decoration: none;">
                   <a style="text-decoration: none; color: white;" href="{% url 'adminlogin' %}">Sell Here</a>
          </button>

            <button class="landing-page-fill-button2">
                    <a style="text-decoration: none; color:white; " href="{% url 'customerlogin' %}">Buy Here</a>
            </button>
        </div>
        <div class="landing-page-frameiconwhatsapp">
          <div class="landing-page-group2">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
